<template>
  <h1>Dandelion/core version: 0.7.0</h1>
  <div class="flex flex-col justify-center bg-gray-100 rounded-3xl m-16">
    <div class="flex flex-col">
      <p class="text-2xl text-center p-4">Create a new CRF</p>
      <div class="flex gap-6 m-6 max-w-2xl self-center">
        <input v-model="crfName" type="text" id="crfs.name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="CRF Name" required>
        <button @click="createCRF" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Create CRF
          <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </div>
    <div class="flex gap-1 p-4 flex-col-reverse w-1/2 self-center m-4">
      <div v-for="crf of crfs" class="grid grid-cols-3 gap-2 m-2">
          <div>
            <button @click="deleteCRF(crf.name)" type="button" class=" float-right text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
              <span class="sr-only">Delete</span>
            </button>
        </div>
        <div class="self-center">
          <p class="text-center"> {{crf.name}} </p>
          <p class="text-center"> {{crf.version}} </p>
        </div>
        <div>
          <button @click="openPlayground(crf.name, crf.version)" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Playground</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { container } from "inversify-props";
import type PlaygroundCRFService from "../services/PlaygroundCRFService";
import { useRouter } from 'vue-router'
import examples from "../../public/examples.json"
import { NamedBindings} from "@dandelion/core";
import PlaygroundCRF from "../entities/PlaygroundCRF";

const crfs = ref<Array<PlaygroundCRF>>([]);
const crfName = ref<string>('');
const crfVersion = ref<string>('');

let CRFService: PlaygroundCRFService;

const router = useRouter();

const createCRF = () => {
  const newCRF = new PlaygroundCRF(crfName.value, '0.0.1')

  CRFService.setCRF(new PlaygroundCRF(crfName.value, '0.0.1'))

  router.push({
    name: 'playground',
    params: {
      crfName: newCRF.name
    }
  })
}

const deleteCRF = (crfName: string) => {
  CRFService.deleteCRF(crfName);
  crfs.value = CRFService.getAllCRFs();
}

const openPlayground = (crfName: string, crfVersion: string) => {
  router.push({
    name: 'playground',
    params: {
      crfName: crfName,
    }
  })
}

onMounted(() => {
  CRFService = container.get(NamedBindings.CRFService);

  examples.forEach(example => {
    const {name, xml, js} = example;
    CRFService.setCRF(new PlaygroundCRF(name, '0.0.1', xml, js))
  })

  crfs.value = CRFService.getAllCRFs();
})

</script>

<style scoped>

</style>
