<script setup lang="ts">
import { RouterView } from "vue-router";
</script>

<template>
  <router-view v-slot="{ Component }">
    <template v-if="Component">
      <Suspense>
        <component :is="Component"></component>
        <template #fallback>Loading...</template>
      </Suspense>
    </template>
  </router-view>
</template>

<style>
</style>
