
#custom-mount-point .datebutton {
  width: 75px;

  background: #d2d2d2;

  text-align: center;

  color: #000;

  line-height: 32px;

  text-decoration: none;
}
#custom-mount-point .datebutton:hover:enabled {
  background: #0e567f;

  color: #fff;
}

/*Label variable group*/
#custom-mount-point fieldset {
  margin: 0 0 50px 0;

  padding-left: 20px;

  border: none;

  border-left-color: currentcolor;

  border-left-style: none;

  border-left-width: medium;

  border-left: solid 2px;
}
#custom-mount-point fieldset fieldset {
  margin: 15px 20px 15px 20px;
}
#custom-mount-point legend,
#custom-mount-point .pageDescription {
  color: #404040;

  text-align: left;

  font-size: 1.6em;

  line-height: 1;

  display: block;

  margin-top: 15px;

  margin-bottom: 10px;
}
#custom-mount-point fieldset fieldset legend {
  color: #404040;

  text-align: left;

  font-size: 1.3em;

  line-height: 1;

  display: block;

  margin-bottom: 10px;
}

/*Singole righe*/
#custom-mount-point div {
  padding-bottom: 5px;

  padding-right: 15px;

  padding-left: 3px;
}

/*Label accanto agli input field*/
#custom-mount-point .checkBoxDescription,
#custom-mount-point .radioDescription,
#custom-mount-point .setDescription,
#custom-mount-point .variableDescription {
  color: #3a6c9d;

  display: inline-block;

  font-weight: bold;

  padding: 5px 10px 0 0;

  vertical-align: top;
}
#custom-mount-point .setDescription {
  display: block;

  margin-bottom: 10px;

  text-decoration: underline;
}

/* TODO: why this? */
#custom-mount-point li > div {
  vertical-align: middle;
}

/* TODO: why this? */
#custom-mount-point li > span {
  padding-right: 15px;

  vertical-align: middle;
}

/*dataType="text"*/
#custom-mount-point div input,
#custom-mount-point div textarea {
  position: relative;

  border: 1px solid #dadada;

  border-radius: 3px;

  margin: 2px 0;

  padding: 4px 0;

  vertical-align: middle;
}
#custom-mount-point div textarea {
  width: 300px;
}

/*dataType="number"*/
#custom-mount-point div input[type='number'] {
  width: 60px;
}

/*dataType="checkbox"*/
#custom-mount-point div input[type='checkbox'] {
  width: auto;

  margin-right: 6px;
}

/*dataType="radio"*/
#custom-mount-point input[type='radio'] {
  width: auto;

  margin-right: 6px;
}
#custom-mount-point ul {
  margin: 2px 0px;

  padding: 0;

  list-style-type: none;
}

/*radio list*/
#custom-mount-point ul.radiolist {
  display: inline-block;
}
#custom-mount-point ul.radiolist li {
  position: relative;

  display: inline-block;

  padding-bottom: 0;
}
#custom-mount-point ul.radiolist li input {
  /*background: url("../images/bg-input.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/

  border: 1px solid #dadada;

  display: inline;

  margin: 2px 6px 2px 0px;

  padding: 4px 0;
}
#custom-mount-point ul.radiolist li label {
  color: #000000;

  display: inline-block;

  font-weight: normal;

  padding: 5px 25px 0 0;
}

/*checkbox list*/
#custom-mount-point ul.checkboxlist {
  display: inline-block;
}
#custom-mount-point ul.checkboxlist li {
  position: relative;

  display: inline-block;

  padding-bottom: 0;
}
#custom-mount-point ul.checkboxlist li input {
  position: relative;

  /*background: url("../images/bg-input.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/

  border: 1px solid #dadada;

  margin: 2px 6px 2px 0px;

  padding: 4px 0;

  display: inline-block;
}
#custom-mount-point ul.checkboxlist li label {
  color: #000000;

  width: auto;

  font-weight: normal;

  padding: 5px 25px 0 0;
}

/* Sets */
#custom-mount-point .set > ul {
  list-style-type: none;
}
#custom-mount-point .set > ul > li {
  display: inline-block;

  background-color: #e3e3e9;

  border-radius: 3px;

  margin: 0 10px 10px 0;

  padding: 10px;
}
#custom-mount-point .itemSelector {
  margin-bottom: 25px;
}
#custom-mount-point .itemSelector nav {
  margin-top: 10px;
}
#custom-mount-point .itemSelector nav button {
  margin: 0;
}

/* Other */
#custom-mount-point p {
  margin-bottom: 10px;
}
#custom-mount-point button {
  border: medium none;

  color: #ffffff;

  background-color: #9ab;

  cursor: pointer;

  font: 1em Arial, sans-serif;

  font-weight: bold;

  height: 26px;

  margin-right: 3px;

  border-radius: 3px;
}
#custom-mount-point button:hover {
  background-color: #bcd;
}
#custom-mount-point div select {
  border: 1px solid #dadada;

  border-radius: 3px;
}
#custom-mount-point input.ng-invalid {
  border: 2px solid #f34141;
}
#custom-mount-point .help {
  display: inline-block;

  font-size: small;

  background-color: Gray;

  padding: 5px;

  margin-bottom: 5px;

  text-align: center;

  vertical-align: bottom;

  padding: 0;

  cursor: pointer;

  border-radius: 50%;

  width: 17px;
}
#custom-mount-point .help label,
#custom-mount-point ul.checkboxlist li .help label,
#custom-mount-point ul.radiolist li .help label {
  vertical-align: middle;

  display: inline-block;

  font-size: small;

  color: whitesmoke;

  padding: 0;
}
#custom-mount-point .help:hover {
  background-color: #4030ff;
}
#custom-mount-point .tooltip span {
  background-color: #4030ff;

  border-radius: 3px;

  vertical-align: middle;

  padding: 2px 10px;
}

/* Using  &#10; tooltip can go on new line*/
#custom-mount-point .ui-tooltip {
  white-space: pre-line;
}
#custom-mount-point .dialog,
#custom-mount-point .success,
#custom-mount-point .error,
#custom-mount-point .warning,
#custom-mount-point .solvedWarning,
#custom-mount-point .requirement {
  display: block;

  border-radius: 5px;

  border: 2px solid;

  padding: 10px;

  margin: 20px 0;
}
.error {
  display: block;

  border-radius: 5px;

  border: 2px solid;

  padding: 10px;

  margin: 20px 0;

  background-color: lightcoral;

  border-color: darkred;

  color: darkred;
}
#custom-mount-point .success {
  background-color: lightseagreen;

  border-color: green;

  color: green;
}
#custom-mount-point .error {
  background-color: lightcoral;

  border-color: darkred;

  color: darkred;
}
#custom-mount-point .requirement {
  background-color: rgb(143, 111, 111);

  border-color: rgb(66, 25, 25);

  color: rgb(66, 25, 25);
}
#custom-mount-point .dialog {
  background-color: lightgray;

  border-color: gray;

  color: #333;
}
#custom-mount-point .warning {
  background-color: lightgoldenrodyellow;

  border-color: darkgoldenrod;

  color: darkgoldenrod;
}
#custom-mount-point .solvedWarning {
  background-color: lightskyblue;

  border-color: darkblue;

  color: darkblue;
}
#custom-mount-point .warning input,
#custom-mount-point .solvedWarning input {
  margin-left: 20px;
}
